h1, h2, h3, h4, h4 h6{
    font-family: 'Carter One', cursive;
}

p{
    font-family: 'Roboto', sans-serif;
}

main h1{
    text-align: center;
}
.main{
    display: flex;
    flex-flow: row nowrap;
    margin: 1em;    
}

.about{
    display: flex;
    flex-flow: column nowrap;
    margin: 2em;
}

.personal{
    display: flex;
    flex-flow: column nowrap;
    margin: 3em;
    
}