@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Lewis University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Lewis University</h2>
        <img src="~/img/diploma.jpg" width="300" />
    </div>
    <div class="col-md-4">
        <h2>Innovative Problem-Solving</h2>
        <p>Our leading-edge programs and compassionate instructors place an emphasis on innovative problem-solving prepaing you for your future. </p>
    </div>
    <div class="col-md-4">
        <h2>Application Deadline</h2>
        <p>January 1, 2021</p>
    </div>
</div>